fastapi
uvicorn
pandas
numpy
scikit-learn
xgboost
lightgbm
catboost
joblib
matplotlib
seaborn
plotly
pycaret
openpyxl
ipykernel
structlog
langchain
langchain_community
langchain_google_genai
langchain_groq
python-multipart

-e .
